@tailwind base;

@tailwind components;

@tailwind utilities;

@media screen and (max-width: 500px) {
  .while-mobile {
    top: 50px !important;
  }
}

.container-item {
  height: fit-content !important;
  width: fit-content;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  margin-top: 80px;
  justify-content: center;
  box-shadow: 5px 5px 5px 0 rgba(92, 91, 91, 0.315);
  transition: 1s;
}

.container-item i {
  color: rgb(77, 158, 230);
}
.hall-container {
  height: 590px;
  width: 100%;
  margin: 50px 0 120px;
  transition: 50s;
  justify-content: space-around;
}
.my-input {
  width: 100px;
}
.my-input:focus-visible {
  width: 140px;
}
main-container {
  padding: 30px;
}



.heading {
  text-align: center;
}

.heading__title {
  font-weight: 600;
}

.heading__credits {
  margin: 10px 0px;
  color: #888888;
  font-size: 25px;
  transition: all 0.5s;
}

.heading__link {
  text-decoration: none;
}

.heading__credits .heading__link {
  color: inherit;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  min-height: 200px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card:hover {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.01);
}

.card__link,
.card__exit,
.card__icon {
  position: relative;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
}

.card__link::after {
  position: absolute;
  top: 25px;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.5s;
}

.card__link:hover::after {
  width: 100%;
}

.card__exit {
  grid-row: 1/2;
  justify-self: end;
}

.card__icon {
  grid-row: 2/3;
  font-size: 30px;
}

.card__title {
  grid-row: 3/4;
  font-weight: 400;
  color: #ffffff;
}

.card__apply {
  grid-row: 4/5;
  align-self: center;
}



.card-1 {
  background: radial-gradient(#1fe4f5, #3fbafe);
}

.card-2 {
  background: radial-gradient(#fbc1cc, #fa99b2);
}

.card-3 {
  background: radial-gradient(#76b2fe, #b69efe);
}

.card-4 {
  background: radial-gradient(#60efbc, #58d5c9);
}
.my-right-border {
  background: radial-gradient(#1fe4f5, #3fbafe);
  border-right: 1px solid #ee1;
  color: #f6f5f5;
}


@media (max-width: 1600px) {
  .cards {
    justify-content: center;
  }
}

ul.timeline {
  list-style-type: none;
  position: relative;
  padding-left: 1.5rem;
}

ul.timeline:before {
  content: " ";
  background: radial-gradient(#76b2fe, #b69efe);
  display: inline-block;
  position: absolute;
  left: 16px;
  width: 4px;
  height: 100%;
  z-index: 400;
  border-radius: 1rem;
}

li.timeline-item {
  margin: 20px 0 20px 20px;
  background: radial-gradient(#1fe4f5, #3fbafe);
  width: 95%;
}
li.timeline-item i {
  color: darkslategray;
}

.timeline-arrow {
  border-top: 0.5rem solid transparent;
  border-right: 0.5rem solid rgba(51, 65, 85, var(--tw-text-opacity));
  border-bottom: 0.5rem solid transparent;
  display: block;
  position: absolute;
  left: 2rem;
}

li.timeline-item::before {
  content: " ";
  background: radial-gradient(#60efbc, #58d5c9);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #fff;
  left: 11px;
  width: 14px;
  height: 14px;
  z-index: 400;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}



.text-gray {
  color: #999;
}

.card {
  width: 320px;
  padding: 10px;
  min-height: 130px;
}


input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 16px * 20;

  text-shadow: 1px 1px 0 #fff;
}
label {
  display: block;
  margin-bottom: 16px * 1.5;
  width: 100%;
}

input {
  margin-right: 8px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.input-group label {
  margin: 0;
  flex: 1;
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

.tracking-in-contract {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}

@-webkit-keyframes text-pop-up-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc,
      0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc,
      0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s
    both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) 1s both;
}
.focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    1s both;
  animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
#particle-canvas {
  width: 100%;
  height: 100%;
}
button {
  -webkit-animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    1.5s both;
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s both;
}
.bg-pan-top {
  -webkit-animation: bg-pan-top 8s ease-in-out infinite alternate both !important;
  animation: bg-pan-top 8s ease-in-out infinite alternate both !important;
}

@-webkit-keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}
@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.gallery {
  transition: all 0.3s cubic-bezier(0.5, 0.8, 0.5, 0.2);
  background-color: #82a6cb;
  border-radius: 10px;
  padding: 5px;
  cursor: zoom-in;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 40em) {
  .gallery img {
    width: 150px;
    height: 150px;
  }
  .gallery {
    grid-template-rows: repeat(2, 20vh);
  }
}
@media screen and (min-width: 10em) and (orientation: landscape) {
  .gallery img {
    width: 300px;
    height: 150px;
  }
  .gallery {
    grid-template-columns: repeat(5, 18vw);
    grid-template-rows: repeat(2, 45vh);
  }
}
@media screen and (min-width: 60em) {
  .gallery {
    grid-template-columns: repeat(10, 8vw);
    grid-template-rows: 25vh;
  }
}

.gallery img {
  object-fit: cover;
  width: 250px;
  padding: 1px;
  height: 250px;
  transition: all 0.15s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  position: relative;
  box-shadow: 0 0 0 #0000;
  opacity: 0.67;
  overflow: auto;
  filter: sepia(60%) hue-rotate(180deg);
}

.gallery img:hover {
  opacity: 1;
  z-index: 1;
  box-shadow: 1em 1em 1em #0004;
  transition: all 0.6s cubic-bezier(0.3, 0.1, 0.3, 0.85);
  filter: sepia(0%) hue-rotate(0deg);
  border-radius: 5px;
  transform: scale(1.1);
}
.kenburns-top {
  -webkit-animation: kenburns-top 10s ease-out infinite alternate both;
  animation: kenburns-top 10s ease-out infinite alternate both;
}
@-webkit-keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
@keyframes kenburns-top {
  0% {
    -webkit-transform: scale(1) translateY(0);
    transform: scale(1) translateY(0);
    -webkit-transform-origin: 50% 16%;
    transform-origin: 50% 16%;
  }
  100% {
    -webkit-transform: scale(1.25) translateY(-15px);
    transform: scale(1.25) translateY(-15px);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

.message_container {
  filter: drop-shadow(0 0 8px cyan);
  margin: 10px;
  border-radius: 5px;
}
.message_container .message {
  background: #000;
  --aug-border: 2px;
  --aug-border-bg: cyan;
  border: 2px;
  border-color: cyan;
  width: calc(100% - 20px);
  max-width: 640px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.5s;
  border-radius: 5px;
}
.message_container .message .title {
  display: inline-block;
  padding: 0.5em 2em;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  --aug-inset: 0.25em;
  --aug-inset-bg: #ff0;
  background-color: #ff0;
  --aug-br: 0.75em;
}
.message_container .message p {
  color: #fff;
  padding: 1em;
  margin: 0;
  display: block;
  line-height: 1.4em;
  text-align: justify;
  max-height: 10em;
}
.err-handle {
  text-align: center;
  background-color: #f0657f;
  width: 50%;
  color: #eee9e9;
  font-weight: 900;
  margin: auto;
  border-bottom: 1px solid;
}
.main-dash-user {

  display: grid;
  grid-template-columns: repeat(40, 10px);
  grid-template-rows: repeat(60, 10px);
}
.main-dash-user {
  background: radial-gradient(#1fe4f5, #3fbafe);
  grid-template-columns: repeat(60, auto);
  grid-template-rows: repeat(20, auto);
}
.side-user {
  grid-row-start: 1;
  grid-row-end: 21;
  grid-column-start: 1;
  grid-column-end: 1;
  width: 40px;
  padding: 0 25px;
  transition: 0.6s;
}
.side-user-hader {
  min-height: 30%;
  border-bottom: 1px solid rgba(110, 108, 108, 0.316);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}
.side-user-hader img {
  max-width: 100px;
  max-height: 100px;
  min-width: 10px;
  min-height: 10px;
  width: 40px;
  height: 40px;
  box-shadow: 2px 8px 8px -4px rgb(174, 226, 243);
}
.side-user h6 {
  width: 0;
  font-size: 0px;
  transition: 0.4s;
}
.side-user:hover h6 {
  font-size: 15px;
  width: fit-content;
}
.side-user:hover {
  width: 110px;
}

.side-user-body {
  min-height: 57%;
  border-bottom: 1px solid rgba(110, 108, 108, 0.312);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.side-user-body div {
  max-width: 130px;
  max-height: 30px;
  min-width: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}
.side-user-body div i {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 5px;
}
.side-user-body div i h5 {
  opacity: 0;
  width: 0%;
  transition: 0.5s;
}
.side-user-body div:hover i h5 {
  display: block;
  transition: 1s;
  width: 100%;
  opacity: 1;
  margin-right: 5px;
  padding-right: 10px;
  padding-left: 2px;
}
.side-user-body div:hover {
  cursor: pointer;
  border: 1px solid #eee;
  border-radius: 22px;
  box-shadow: 2px 8px -4px 4px rgb(250, 237, 237);
  align-items: center;
}
.side-user-footer {
  height: 12%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
}
.beside-content {
  grid-row-start: 1;
  grid-row-end: 21;
  grid-column-start: 4;
  grid-column-end: 55;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Beside-content-item {

  width: 290px;
  height: 180px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(40, auto);
  grid-template-rows: repeat(60, auto);
}
.beside-content-item-left {

  grid-row: 1/60;
  grid-column: 1/10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.Beside-content-item-full {

  grid-row: 10/65;
  grid-column: 2/40;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #000;

}
.worker-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  min-width: 300px;
  justify-content: center;
  max-width: 950px;
  height: 120px;
  color: aliceblue;
  font-weight: bold;

}
.remargr {
  height: 140px;
}
.worker-container .remargr:first-child {
  margin-left: 350px;
}
.worker-container .remargr1:first-child {
  margin-left: 160px;
}
.worker {
  text-transform: capitalize;

  display: flex;
  flex-direction: column;
  min-width: 120px;
  width: 150px;
  height: 100px;

  justify-content: center;
  align-items: center;

  border-right: 1px dotted rgb(65, 63, 63);
  margin: 1px 5px;
}
.beside-content-item-right {
  display: flex;

  grid-row: 1/60;
  grid-column: 11/40;
}
.besid-content-item-moshtra {
  height: 50%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.moshtra-container {
  position: relative;
  width: 100px;
  height: 110px;
  text-align: center;
  padding: 8px;
  margin-right: 40px;
  margin-bottom: 10px;
}
.moshtra-container::after {
  position: absolute;
  width: 35px;
  height: 60px;
  content: "--->";
  margin: 0px;
  color: rgb(129, 129, 129);
  transform: translateX(50px) translateY(-55px);

}
@media screen and (max-width: 49em) {
  .Beside-content-item {
    margin-top: -10%;
  }
  .besid-content-item-moshtra {
    height: 400px;
    width: 350px;
  }
  .beside-content-item-left {
    grid-row: 1/61;
    grid-column: 1/8;
  }
  .beside-content-item-right {
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    grid-row: 1/61;
    grid-column: 8/40;
  }
  .beside-content-item-right iframe {
    width: 110px;
    height: 90px;
  }
  .worker-container {
    width: 320px;
  }
  .worker-container .remargr1:first-child {
    margin-left: 350px;
  }
  .worker-container .remargr:first-child {
    margin-left: 80px;
  }
  .worker-container .remargr2:first-child {
    margin-left: 450px;
  }
}

@media screen and (min-width: 50em) {


  .Beside-content-item {
    margin-top: -10%;
    width: 500px;
    height: 180px;
    border-radius: 44px;
  }
  .beside-content-item-right {
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
  }
  .worker-container {
    width: 500px;
  }
  .worker-container .remargr:first-child {
    margin-left: 0px !important;
  }
  .worker-container .remargr2:first-child {
    margin-left: 300px;
  }
  .fa-image {
    margin: -120px 0 -80px;
  }
}
@media screen and (min-width: 60em) {
  .side-user {
    width: 70px;
  }
  .side-user:hover {
    width: 220px;
  }
  .Beside-content-item {
    margin-top: 1%;
    width: 900px;
  }
  .worker-container {
    width: 900px;
  }
  .worker-container .remargr2:first-child {
    margin-left: 10px;
  }
  .designepic {
    margin-top: -60px;
    max-height: 600px;
    max-width: 600px;
    object-fit: cover;
    overflow: hidden;
  }
  .fa-image {
    margin: -70px 0 -20px;
  }
}
.via-indigo-200 {
  --tw-gradient-stops: var(--tw-gradient-from), #c7d2fe,
    var(--tw-gradient-to, rgba(199, 210, 254, 0));
}

.w-screen {
  width: 100%;
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(55, 65, 81, var(--tw-text-opacity));
}
.overflow-auto {
  overflow: auto;
}
.h-screen {
  height: 100vh;
}

.flex {
  display: flex;
}
.to-pink-200 {
  --tw-gradient-to: #f4cffb;
}
.via-indigo-200 {
  --tw-gradient-stops: var(--tw-gradient-from), #7690f7,
    var(--tw-gradient-to, rgba(199, 210, 254, 0));
}
.from-blue-200 {
  --tw-gradient-from: #bfdbfe;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, rgba(191, 219, 254, 0));
}
.bg-gradient-to-tr {
  background-image: linear-gradient(to top right, var(--tw-gradient-stops));
}
